#login,
#register {
	display:none;
}
#logout {
	display:block;
}

#cart-wrapper {
	width:1000px;
	height:600px;
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
}
	#cart-wrapper #user-center-navigator {
		text-align:left;
		line-height:30px;
		font-size:13px;
		width:130px;
		color:rgb(240,240,240);
		float:left;
	}
	#cart-wrapper #user-center-navigator a {
		margin-left:35px;
		text-decoration:none;
	}
		.user-center-head {
		    background-color:rgb(20,100,150);
		    font-weight:700;
		    height:40px;
		    line-height:40px;
		}
		.user-center-head span {
			margin-left:35px;
		}
		.user-center-menu {
			cursor:pointer;
			color:black;
			margin-top:5px;
			background-size: 14px;
		    background-repeat: no-repeat;
		    background-position: 10px center;
		}
		.user-center-menu-selected {
			background-color:rgb(240,240,240);
		}

		.user-center-menu:hover {
			color:rgb(128,15,37);
		}
		
		#cart-menu {
			background-image: url(../images/user-cart.png);
		}
		#order-menu {
			background-image: url(../images/order.png);
		}
		#credits-menu {
			background-image: url(../images/credits.png);
		}
		#profile-menu {
			background-image: url(../images/profile.png);
		}
		
#cart-list {
	width: 837px;
    margin-left: 30px;
	line-height:30px;
	font-size:14px;
	color:rgb(250,250,250);
	float:left;
}
	#cart-list #cart-head,
	#cart-list #cart-buy-button {
		background-color:rgb(20,100,150);
	    height:40px;
	    line-height:40px;
	    float:left;
	}
	#cart-list #cart-head {
		width:730px;
	}
	#checkbox-all-div,
	.checkbox-item-div {
		width:30px;
	    margin-left:10px;
	    float:left;
	}
	#checkbox-all-div {
		margin-top:2px;
	}
	.checkbox-item-div {
		margin-top:3px;
	}
	#cart-remove-span {
		margin-left:30px;
	}
	.cart-head-operation {
		cursor:pointer;
	}
	#cart-total-price-label {
		margin-left:470px;
	}
	#cart-total-price {
		font-weight:700;
	}
	#cart-buy-button {
		width:102px;
		margin-left:5px;
	    text-align:center;
	    letter-spacing:3px;
	    cursor: pointer;
	}
	
	
.cart-item {
	width: 835px;
	height:110px;
	line-height:20px;
	font-size:12px;
	color:grey;
	float:left;
	margin-top:5px;
	border:solid 1px rgb(220,220,220);
}
.cart-item:hover {
	background-color:rgb(245,245,245);
}

.cart-item .cart-book-cover {
	width: 100px;
    height: 100px;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    background-size: auto 100px;
    background-position-x: left;
    background-position-y: center;
    background-repeat: no-repeat;
    cursor:pointer;
}
.cart-item .cart-book-info,
.cart-file-info,
.cart-price-info,
.cart-item-operation {
	overflow:hidden;
    display: table-cell;
    vertical-align: middle;
    height:110px;
}
.cart-item .cart-book-info {
	width:300px;
}
.cart-title {
    cursor: pointer;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
}
.cart-authors {
	height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
}
.cart-file-info {
	width:150px;
	padding-left:30px;
}
.file-format-icon {
	width:16px;
    height:16px;
    margin:0px 5px -2px -3px;
}

.cart-price-info {
	width:85px;
	padding-left:30px;
}
.cart-item-operation {
	width:95px;
}
.cart-item-operation-wrapper {
	height: 65px;
    border-left: solid 1px rgb(220,220,220);
    padding-top: 8px;
    text-align: center;
}
	.cart-item-operation-wrapper p {
		cursor:pointer;
	}








	